@page
@model DocsReports.Pages.DocumentsPages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}


<p>
    <a asp-page="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].Dateadd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].PageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].ArchiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].DocCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].EmployeeSendNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents[0].EployeeSentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Documents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateadd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocCategory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSendNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EployeeSentNavigation.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
