@page
@model DocsReports.Pages.ReportsPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reports</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.Dateadd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.Dateadd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.PageCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.PageCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.ArchiveId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.ArchiveId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.EmployeeReceiptNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.EmployeeReceiptNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.EmployeeSendNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.EmployeeSendNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reports.ReportCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reports.ReportCategory.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reports.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
